/* Body is the background of the page */

body {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 25%;
	font-family: Helvetica, Arial, sans-serif;
}

.main {
	margin-bottom: 40px;
	background: rgba(155,255,255,0.5);
	width: 600px;
	margin: 0 auto;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px red;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	font-family: 'Bangers', cursive;
	text-shadow: 0px 0px 20px red;
	text-align: center;
	font-size: 70px;
/*	font-family: 'Exo 2', sans-serif;*/
	color: #bada55;
	margin: 0;
}

h2 {
	text-shadow: 1px 1px 1px #ffffff;
	text-align: center;
	margin-top: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: normal;
}

h3 {
	margin-top: 0;
	cursor: pointer;
	font-size: 30px;
}

p {
	line-height: 140%;
}

img {
	width: 200px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

ol,
ul {
	line-height: 140%;
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
	font-weight: bold;	
	color: #bd0077;
}
a:hover,
a:focus {
	text-decoration: underline;
	color: #ed33aa;
}